.general-inf {
  display: grid;
  grid-template-columns: 50% 50%;
}

.worldwide-map {
  grid-column: 1/span 1;
  background-color: rgb(85, 136, 227);
  border: 1px solid rgb(84, 133, 226);
}

.worldwide-map img {
  width: 82%;
  margin-left: 20%;
}

.worldwide-vacc {
  grid-column: 2/ span 1;
  background-color: rgb(84, 133, 226);
  border: 1px solid rgb(84, 133, 226);
  color: white;
  font-family: 'Gill', sans-serif;
  font-size: 12px;
}

.worldwide-vacc h1 {
  font-size: 18px;
}

.display-text {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 10%;
}

.display-text h1 {
  margin-bottom: 0;
  margin-top: 0;
}
