.header {
  background-color: rgb(67, 105, 178);
  font-family: 'Gill', sans-serif;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.date {
  text-align: center;
}

.title {
  text-align: center;
}

.MuiAutocomplete-root fieldset {
  border-color: #fff;
}

.MuiTextField-root fieldset{
  border: 2px solid #fff;
}

.MuiTextField-root input{
  color: #fff;
}

.MuiTextField-root label{
  color: #fff;
}
